h1 { 
    color: white;
    text-align: center;
    background-color: black;

}
.song {
    width: fit-content;
    border-color: black;
    border: solid;
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
}
body {
    background-color: #FDF79A;

}

a {
    color: #4c68ba;
    font-weight: bold; 

}

ul {
    list-style-type: none;                
}
nav {
    text-align: center;
    text-decoration: underline;
}
