header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: black;
    color: white;
}


h1 { 
    color: white;
    padding: 0px var(--size-spacing-large);
}

h2 {
    padding: 0px var(--size-spacing-xlarge);
}

.song {
    width: fit-content;
    border-color: blue;
    padding: var(--size-spacing-small);
    margin: var(--size-spacing-small);
    text-align: center;
}
body {
    /*"Lucida Console", "Courier New", "monospace";*/
    background-color: #FFFFC2;

}
.box{
    width: 45em;
    height: 25em;
    margin: 10px 10px;
    border: solid;
    border-color: black;
    border-radius: 10px 10px 3px 3px;

}

a {
    color: var(--color-link);
    font-weight: bold; 

}

ul {
    list-style-type: none;                
}
nav {
    text-align: right;
}

nav > a{
    color: white;
    text-align: right;
}
